#print is used to see some answer

#if more than two answers are there  we can check all answers using print statement

In [1]:
a=10
a

10

In [2]:
print(a)

10

In [3]:
a=10        # gives the final answer
b=20
a
b

20

In [4]:
a=10        
b=20
print(a)
print(b)

10
20

In [11]:
num1=100
num2=20
add=num1+num2
print("addition of ",num1 ,"and", num2, "is:",add)

addition of  100 and 20 is: 120

In [35]:
num1=200
num2=300
add=num1+num2
print("the addition of {} and {} is {}".format(num1,num2,add))

the addition of 200 and 300 is 500

In [33]:
num1=100
num2=200
num3=300
avg=(num1+num2+num3)/3
print("the average of ",num1,num2,"and ",num3,"is",avg)
print("the average of {},{},{} is {} :".format(num1,num2,num3,avg))     # format method

the average of  100 200 and  300 is 200.0
the average of 100,200,300 is 200.0 :

## F string method

In [34]:
num1=100
num2=200
num3=300
avg=(num1+num2+num3)/3
print(f"the average of {num1},{num2},{num3} is {avg} ")     #simply add "f" and writethe code in strings 
                                                              # and variables should  be in curly brackets

the average of 100,200,300 is 200.0

In [36]:
num1=100
num2=20
add=num1+num2
print("addition of ",num1 ,"and", num2, "is:",add)    # regular

num1=200
num2=300
add=num1+num2
print("the addition of {} and {} is {}".format(num1,num2,add))   # format method

num1=100
num2=200
num3=300
avg=(num1+num2+num3)/3
print(f"the average of {num1},{num2},{num3} is {avg} ")            # f string method

addition of  100 and 20 is: 120
the addition of 200 and 300 is 500
the average of 100,200,300 is 200.0

# Round off values

In [29]:
val=545415.4545
round(val,1)

545415.5

In [31]:
val2=122.5567
round(val2,2)

122.56

## end operator

In [37]:
print("hello")
print("good morning")

hello
good morning

In [39]:
print("hello",end="  ")
print("good morning")

hello  good morning

In [42]:
print(1)
print(2)
print(3)

1
2
3

In [41]:
print(1,end=" ")        #if we give single end it takes the after print it wont take for all
print(2)              
print(3)

1 2
3

In [40]:
print(1,end=" ")
print(2,end=" ")            #we need to give for all the out put
print(3)

1 2 3

## seperate statement

- one print ststement onlt
- in side one print ststement there are multiple values
- to seperate the multiple values we use seperate ststement

In [51]:
print("hello","hai",sep="& ")

hello& hai

In [52]:
print("hello","hai",sep="  ")

hello  hai

In [53]:
print(1,2,3,".")

1 2 3 .

In [55]:
print(1,2,3,".",sep="    ")

1    2    3    .

In [56]:
print(1,2,end=" ")
print(3,".",sep="")

1 2 3.